body {
	background-color: white;
	text-align: auto;
	font-family: Arial, san-serif;
}

h1 {
	font-size: 30px;
}

p {
	font-family: san-serif;
	color: black;
	font-size: 18px;
}

.page {
	background-color: #f2f2f2;
	margin: 50px 50px 50px 50px;
	padding: 50px 50px 50px 50px;
}

#intro {
	width: 50em; /*can be removed*/
	text-align: left;
	word-wrap:break-word;
}

table {
	font-size: 20px;
	width: 100%;
}

#space {
	padding-top: .5em;
	padding-bottom: .5em;
}

.vertical-line {
	width:1px;
	background-color: black;
	display: inline-block;
}

#headings {
	font-weight: bold;
	font-style:italic;
}

.info {
	font-size: 18px;
}


/*do some ish for links*/
/*do some ish for image*/