body {
	background-color: white;
	float: auto;
	font-family: Verdana, Sans-serif, Arial;
}

h1 {
	font-size: 30px;
	font-family: Verdana, Sans-serif, Arial;
}

p {
	font-family: Verdana, Sans-serif, Arial;
	color: black;
	font-size: 18px;
}

.page {
	background-color: #f2f2f2;
	margin: 50px 50px 50px 50px;
	padding: 50px 50px 50px 50px;
}

#intro {
	font-family: serif;
	font-style: italic;
	color: #777777;
	text-align: left;
	word-wrap:break-word;
}

table {
	border-collapse:separate;
	border-spacing: 50px;
	font-size: 22px;
	width: 100%;
}

td {
	vertical-align:top;
}

td:nth-child(1){
	border-right: solid black 2px;
}

td:nth-child(2){
	padding-left: 1em;
}
.headings {
	font-weight: bold;
	font-style:italic;
}

.info {
	font-size: 18px;
	padding-bottom: 2em;
}

a {
	color: #777777;
}

span {
	float: right;
	color: #777777;
	font-family: serif;
	font-style: italic;
}

/*do some ish for links*/
/*do some ish for image...float the image such that the paragraph wraps around it*/